body {
    margin: 0;
    padding: 0;
}

.main-header {
    padding: 10px;
    color: white;
    background: #234999;
}

.main-header__title {
    font-size: 2.4rem;
    text-align: center;
}

.main-header a {
    color: white;
    text-transform: uppercase;
}

.users-list {
    list-style: none;
}

.users-list__item {
    text-transform: uppercase;
    color: #234999;
    padding: 10px 0;
}